.container {
  position: absolute;
  width: 100vw;
  background-color: wheat;
  z-index: 100;
  top: 0px;
  left: 0px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 10px; /* расстояние между элементами */
}