.container{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 10px;
    justify-content: center;
}

.move-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}